<div class="container">
  <%= link_to edit_task_path(@task) do %>
  <i class="fa-solid fa-pen-to-square btn btn-primary"></i>
  <% end %>
  <%= link_to delete_task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash btn btn-danger"></i>
  <% end %>
</div>

<div>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
</div>

<%= link_to "Back to Tasks", tasks_path, class: "btn btn-primary" %>
